<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>變更密碼</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/change-password.css') }}"
    />
  </head>
  <body>
    <header>職業災害勞工服務資訊整合管理系統</header>
    <div class="container">
      <div class="left-section">
        <img
          src="{{ url_for('static', filename='image_no_bg1.PNG') }}"
          alt="系統圖片"
        />
        <p>- - - - - 登入遇到問題？ <a href="#">立即尋求協助</a> - - - - -</p>
      </div>
      <div class="password-box">
        <h2>變更密碼</h2>
        <form
          id="password-form"
          action="{{ url_for('change_password_route') }}"
          method="post"
        >
          <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input
              id="defaultPassword"
              name="defaultPassword"
              placeholder="預設密碼"
              type="password"
            />
          </div>
          <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input
              id="newPassword"
              name="newPassword"
              placeholder="新密碼"
              type="password"
            />
            <i
              class="fa-solid fa-eye-slash"
              onclick="togglePassword('newPassword', this)"
            ></i>
          </div>
          <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input
              id="confirmPassword"
              name="confirmPassword"
              placeholder="再次輸入"
              type="password"
            />
            <i
              class="fa-solid fa-eye-slash"
              onclick="togglePassword('confirmPassword', this)"
            ></i>
          </div>
          <button type="button" class="submit-btn" onclick="submitChange()">
            確定變更
          </button>
        </form>
      </div>
    </div>

    <div class="modal" id="alertModal">
      <div class="modal-content">
        <div class="modal-header">提醒</div>
        <p id="modalMessage">這是提示訊息</p>
        <div class="modal-buttons">
          <button class="ok-btn" id="modalOkBtn">OK</button>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/change-password.js') }}"></script>
  </body>
</html>
